body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2b2b;
  color: #eee;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14pt;
  text-align: left;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.5em 0;
}

h1 { font-size: 1.8em; margin-top: 1em; margin-bottom: 1em; text-align: center; }
h2 { font-size: 1.4em; margin-bottom: 1em; border-bottom: 1px solid #666; }
h3 { font-size: 1.1em; }
h4 { font-size: 1em; }

p { text-align: justify; }

main table, article table {
  border-collapse: collapse;
}
main table td, main table th, article table td, article table th {
  border: 1px solid white;
  margin: 0;
  padding: 0.3em;
}
main table th, article table th { font-weight: bold; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }
blockquote em, blockquote cite { font-style: normal; }

span.break {
  display: block;
  clear: both;
}

a {
  color: #f50;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #f30;
  text-decoration: underline;
}

nav {
  display: block;
  font-size: 12pt;
  color: #ccc;
}

#content {
  margin: 0 25%;
  padding: 1em;
}
#content img { margin: 1em; }

#footer {
  display: block;
  margin-top: 2em;
  font-size: 12pt;
  color: #ccc;
}

@media screen and (max-width: 1600px) {
  #content { margin: 0 15%; }
}
@media screen and (max-width: 1000px) {
  #content { margin: 0 5%; }
}
@media print, screen and (max-width: 800px) {
  #content { margin: 0; }
}
@media print {
  body {
    background-color: white;
    color: black;
  }

  a { text-decoration: underline; }
}